p {
  font-size: x-large;
  margin: 12px;
  text-shadow: 0 0 1px #000000;
  color: whitesmoke;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background-color: brown;
  max-width: 100px;
  text-align: center;
}
